.header{

	background-color: black ;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	word-spacing: 60px;
	text-decoration: none;
	border: 2px solid green;
}
.box{
	background-image: url(Capture.jpg);
	margin: 15px;
	padding: 15px;
}

.nav{
	color: white;
	text-align: center;
	text-decoration: none;
	word-spacing: 60px;
	text-decoration: none;
}
.container
{
border: 2px solid green;
padding: 50px;
}
.p
{
	word-spacing: 60px;
	border-spacing: 40px;
}
.td
{
	font-size: 24px;
	word-spacing: 10px;
	padding: 4px;
	margin: 10px;
	background-color: brown;
	border: 1px solid black;
	margin-right: 2px;
	margin-left: 2px;
}
#a:hover
{
	color: red;
}
.new
{
	margin-right: 150px;
	margin-left: 150px;
	margin-bottom: 12px;
	margin-top: 2px;
	border: 2px solid green;
	text-align: center;
	padding: 4px;
	color: blue;
	background-color: rgb(150,230,120);
	font-family: Monotype Corsiva;
	font-size: 24px;
}
.h1
{
	text-align: center;
}
.home-box
{
	background-image: url(Capture.jpg);
}